body
{text-align: center;
font-size: large;
font-family: "Arial";
color: #492;
}
#container
{
    text-align: center;
}

#cabecera #logo
{background-color: red;
    background: URL ("../cohete.jpg");
border:blue ;
font-size: larger;}
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: auto;
}

#container h1

#footer
 {
     background: blue;
 }