body
{text-align: center;
font-size: large;
font-family: "Arial";
color: #333;
}
#container
{
    text-align: center;
}

#cabecera 
{background-color: red;
border:blue ;
font-size: larger;}
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: auto;
}

#container h1